/* All styles for your Card Components live here */


.CardContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   border: 1px solid blue;
   
}

.cardCont {
    padding-left: 73px;
    
}

.CardContainer .cardCont p {
    font-size: 12px;
}

.CardContainer .cardCont h2 {
    font-size: 15px;
}

.CardContainer .cardCont a {
    font-size: 12px;
}

#reactImg {
    width: 85%;
    padding-left: 70px;
    border: 2px solid green;
    

}

