/* All styles for your header Components live here */

.HeaderContainer {
    border: 1px solid red;
    /* display: flex; */
    /* flex-wrap: wrap;
     */
}

.HeaderContainer h2 {
    font-size: 15px;
}

.HeaderContainer p {
    font-size: 10px;
}

#lambdaLogo {
    width: 10%;
    height: 10%;
   
}
