/* All styles for your header Components live here */

.HeaderContainer {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    
}

#lambdaLogo {
    width: 10%;
    height: 10%;
   
}
