/* All styles for your header Components live here */

.HeaderContainer {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row-reverse;
    /* display: block; */

}

#lambdaLogo {
    width: 10%;
    height: 10%;
    border: 1px solid red;
   
}

.HeaderContainer h2 {
    font-size: 15px;
    display: inline-block;
    /* margin-left:80px; */
    width: 80%;
}

.HeaderContainer p {
    font-size: 12px;
    display: inline-block;
    margin-left:80px;
    width: 80%;
}


.headTitle p {
    margin-left: 7px;
    width: 80%;
}
