
/* Number and Math Symbol buttons */

.numButton {
    background: white;
    color: black;
    width: 25%;
    height: 100px;
    font-size: 40px;
}

.symbol {
    background: red;
    color: white;
    height: 100px;
    width: 25%;
    font-size: 40px;
}

/* Action Buttons */

.clearButton {
    background: white;
    color: black;
    width: 75%;
    height: 100px;
    font-size: 40px;
}

.zero {
    background: white;
    color: black;
    width: 75%;
    height: 100px;
    font-size: 40px;
}